<!DOCTYPE html>
<html ng-app="addcoursehandler">
<head>
<title></title>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.2.24/angular-sanitize.min.js"></script>
<script type="text/javascript">


        var courseHandler = angular.module('addcoursehandler', ['ngSanitize']);
        var counter = 0;

        courseHandler.factory(
                "RoomAndTimes",
                function(  ) {
                    // Define the constructor function.
                    var RoomAndTimes = function( id, dayofWeek, beginTime, endTime, roomLabel, roomCapacity, roomComments ) {
                        this.id = id;
                        this.dayOfWeek =  dayofWeek  ;
                        this.beginTime =   beginTime ;
                        this.endTime =  endTime ;
                        this.roomLabel =  roomLabel ;
                        this.roomCapacity =   roomCapacity ;
                        this.roomComments =  roomComments ; 
                    }
                    // Define the "instance" methods using the prototype
                    // and standard prototypal inheritance.
                    RoomAndTimes.prototype.getId =  function() {
                                return( this.id );
                            };
                    RoomAndTimes.prototype.getDayOfWeek = function() {
                            return( this.dayOfWeek );
                        };
                    RoomAndTimes.prototype.getBeginTime = function() {
                            return( this.beginTime );
                        };
                    RoomAndTimes.prototype.getEndTime =function() {
                            return( this.endTime );
                        };
                        RoomAndTimes.prototype.getRoomLabel =function() {
                            return( this.roomLabel );
                        };
                        RoomAndTimes.prototype.getRoomCapacity=function() {
                            return( this.roomCapacity );
                        };
                        RoomAndTimes.prototype.getRoomComments =function() {
                            return( this.roomComments );
                        };
                        RoomAndTimes.prototype.showItems = function(){
                            
                            return (
                                    this.id +" %%%"+
                                    this.dayOfWeek.replace("%%%","%")+" %%%"+ 
                                    this.beginTime.replace("%%%","%")+" %%%"+
                                    this.endTime.replace("%%%","%")+" %%%"+
                                    this.roomLabel.replace("%%%","%")+" %%%"+
                                    this.roomCapacity+" %%%"+
                                    this.roomComments.replace("%%%","%")+" "
                                    );
                        };
                    
                     
                    return( RoomAndTimes );
                }
            );
        courseHandler.controller('CourseCtrl', function ($scope, $sce, $http, RoomAndTimes) {
                var rest = 'http://localhost:8081/GGLecturePlanner/rest/';  

                $scope.updateRoomId = function() {
                	return $http.get(rest+'courses/nextroomid').
                    success(function (id) {
                        $scope.nextRoomId = id; 
                    });
                }
                
//                 $scope.containsEmployee = function(selectedLecturers, lecturer){

//                 	 for (var i = 0; i < selectedLecturers.length; i++) {
//                          if (selectedLecturers[i].id === lecturer.id) {
//                              return true;
//                          }
//                      }
//                      return false;
// 				}
				
                $scope.getModuleId = function() { 
          			return window.location.search.substring(1).split("&")[0].split("=")[1]; 
                };

                $scope.getCourseDetails = function (moduleId, courseId) {
					if((typeof courseId !== "undefined")&&(typeof moduleId !== "undefined")) {
                    
	                    $http.get(rest+'courses/coursedetails/'+moduleId+'/'+courseId).
		                     success(function (data) {
		                          $scope.courseDetails = data;
		                          $scope.courseid = data.id;
		                          $scope.coursedescription = data.courseDescription;
		                          $scope.coursetype = data.courseType.abbreviation
		                          $scope.vvznr = data.vvzNr;
		                          $scope.selectedModuleParts = data.moduleParts;
		                          $scope.nrofgroups = parseInt(data.nrOfGroups);
		                          $scope.nrofstudentsexpectedpergroup = data.nrOfStudentsExpectedPerGroup;
		                          $scope.ismaxnrofstudentsexpectedpergroup = ''+data.isMaxNrStudentsExpectedPerGroup;
		                          $scope.swstotpergroup = parseFloat(data.swsTotalPerGroup);
		                          $scope.begintime = data.startDate;
		                          $scope.enddate = data.endDate;
		                          $scope.rythm = data.rythm;
		                          $scope.selectedLecturers = data.lecturers;
		                          $scope.comments = data.comments;
		                          
		                          $scope.roomsAndTimes = []; 
		                          var r = data.courseTimesAndRooms; //sorry too long ...
		                          for(var i = 0; i < r.length;++i){ 
		                          var roomAndTimes = new RoomAndTimes(
		                        		  (typeof r[i].id === "undefined"?"":r[i].id),
				                          (typeof r[i].dayOfWeek === "undefined"?"":r[i].dayOfWeek), 
				                          (typeof r[i].startTime === "undefined"?"":r[i].startTime),
				                          (typeof r[i].endTime === "undefined"?"":r[i].endTime),
				             		      (typeof r[i].roomLabel === "undefined"?"":r[i].roomLabel),
				             		      (typeof r[i].roomCapacity === "undefined"?0:r[i].roomCapacity),
				             			  (typeof r[i].comments === "undefined"?"":r[i].comments)
				                          );
 		      						$scope.roomsAndTimes.push(roomAndTimes);
		                          }

		                          var tmp = [];
		                          for(var i = 0; i < $scope.employees.length;++i) {
										if(!$scope.containsEmployee($scope.selectedLecturers, $scope.employees[i])) {
											tmp.push($scope.employees[i]);
										}
			                      }
			                      $scope.employees = tmp;
		                     });
					}
                }; 
                
                $scope.getCourseId = function() {
                	var query = window.location.search.substring(1).split("&")[1];
                	if(typeof query !== "undefined") {
                		var queryParts = query.split("=");
                		if((typeof queryParts !== "undefined") && queryParts.length == 2){
                			if(queryParts[0] === "courseid" && (typeof queryParts[1] !== undefined) && !isNaN(queryParts[1])) {
								$scope.courseId = queryParts[1];
								$scope.getCourseDetails($scope.getModuleId(), $scope.courseId);
								return;
                    		}
                    	}
                	} 
                	$scope.courseId = undefined;
                }
                
//                 $scope.contains = function (a, id) {
//                     if(a == null || id == null){return false;}
//                     for (var i = 0; i < a.length; i++) {
//                         if (a[i].id === id) {
//                             return true;
//                         }
//                     }
//                     return false;
//                 };

                $scope.getDayAbbreviations = function(){
                	
                	return $http.get(rest+'staticresources/dayabbreviations').
                    success(function (data) {
                        $scope.dayAbbreviations = data; 
                    });
                };
                
//                 $scope.getCourseTypes = function () {
//                     return $http.get(rest+'staticresources/coursetypes').
//                      success(function (data) {
//                          $scope.courseTypes = data; 
//                      });
//                 }; 
//                 $scope.getEmployees = function () {
//                     return $http.get(rest+'employees/alllecturers').
//                      success(function (data) {
//                          $scope.employees = data; 
//                      });
//                 };  
                
//                 $scope.initSelectedModuleParts = function(){
// 					$scope.selectedModuleParts = []; 
// 	            };

//                 $scope.initLecturers = function(){
//                     $scope.selectedLecturers = [];
//                 };

//                 $scope.initSelectedPrimaryNr = function(){$scope.selectedPrimaryNr = null};
//                 $scope.initSelectedModulePartNr = function(){$scope.selectedModulePartNr = null};
                
//                 $scope.addModulePart = function(){  
//                     if($scope.selectedPrimaryNr == null || $scope.selectedPrimaryNr.length == 0){
// 						return;
//                        }

//                     if($scope.selectedModulePartNr == null || $scope.selectedModulePartNr.length == 0) {
//                         return;
//                     }
//                 	var modulePartConcat = $scope.selectedPrimaryNr+"."+$scope.selectedModulePartNr;
//                     var contains = false;
//                     for(var i = 0; i < $scope.selectedModuleParts.length; ++i) {
// 						if($scope.selectedModuleParts[i].indexOf(modulePartConcat) >= 0){
// 							contains = true;
// 						}
//                     }
// 					if(!contains) {
//                         $scope.selectedModuleParts.push(modulePartConcat);  
//                        }  

//             	};
//                 $scope.deleteModulePart = function(modulePart){ 
// 					var currentlySelectedModulePartNrs = []; 
					 
// 					for(var i=0; i < $scope.selectedModuleParts.length; i++) {
// // 						alert($scope.selectedModuleParts[i]);
// 						if($scope.selectedModuleParts[i].indexOf(modulePart) < 0) {
// 							currentlySelectedModulePartNrs.push($scope.selectedModuleParts[i]); 
//                         } 
//                     }
// // 					alert("Currently selected module part nrs: " +currentlySelectedModulePartNrs);
// // 					alert("selected Module parts: "+ $scope.selectedModuleParts);
				 
// 	                	$scope.selectedModuleParts = currentlySelectedModulePartNrs;
				 
//                 };

	            
                
//                 $scope.addLecturer = function(){
// 					var availableLecturers = [];
//                     for(var i=0; i < $scope.employees.length; ++i ) {
// 						if($scope.employees[i].id == $scope.selectedLecturer && !$scope.contains($scope.selectedLecturers, $scope.selectedLecturer)) {
//                         	$scope.selectedLecturers.push($scope.employees[i]);  
//                         }else{ 
//                         	availableLecturers.push($scope.employees[i]);
//                        	}

//                     } 
//     	                	$scope.employees = availableLecturers;
    				 
//              	};
//                 $scope.deleteLecturer = function(id){
// 					var currentlySelectedEmployees = []; 
					 
// 					for(var i=0; i < $scope.selectedLecturers.length; ++i ) {
// 						if($scope.selectedLecturers[i].id != id && !$scope.contains(currentlySelectedEmployees, id)) {
// 							if(currentlySelectedEmployees == null){
// 								currentlySelectedEmployees=[];
// 							}
// 							currentlySelectedEmployees.push($scope.selectedLecturers[i]); 
//                         }else{
//                         	$scope.employees.push($scope.selectedLecturers[i]);
//                         }
//                     }
					  
// 	    	             $scope.selectedLecturers = currentlySelectedEmployees;
	    		 
//                 };

                 

                $scope.getModuleDetails = function (moduleId) {
                     return $http.get(rest+'modules/moduledetails/'+moduleId).
                     success(function (data) { 
                         $scope.moduleDetails = data; 
                     });
                }; 

//                 $scope.getNumbers = function () {
//                     return $http.get(rest+'staticresources/numbers').
//                     success(function (data) { 
//                         $scope.modulePartNrs = data; 
//                     });
//                }; 

//                $scope.initRoomAndTimeModels = function(){
//                    $scope.id ="";
//             	   $scope.dayofweek = "";
//             	   $scope.begintime = "";
//             	   $scope.endtime = "";
//             	   $scope.roomlabel = "";
//             	   $scope.roomcapacity = "";
//             	   $scope.roomcomments = "";
//                };

               $scope.formatRoomsAndTimesForTransfer = function() { 
                   var formattedData = "" 
	               if(typeof $scope.roomsAndTimes !== "undefined" ){
//                        alert( $scope.roomsAndTimes[0].getDayOfWeek() +" " +$scope.roomsAndTimes[0].getBeginTime() +" "+$scope.roomsAndTimes[0].getEndTime() +" "+$scope.roomsAndTimes[0].getRoomLabel() +" "+$scope.roomsAndTimes[0].getRoomCapacity() +" "+$scope.roomsAndTimes[0].getRoomComments() +" ");
						for(var i = 0; i < $scope.roomsAndTimes.length-1;++i){
							if(typeof $scope.roomsAndTimes[i] !== "undefined"){
								
								formattedData += $scope.roomsAndTimes[i].showItems()+";;;";
							}
						}
						if(typeof $scope.roomsAndTimes[$scope.roomsAndTimes.length-1] !== "undefined"){
							formattedData += $scope.roomsAndTimes[$scope.roomsAndTimes.length-1].showItems();
						}
		
	            	} 
					return formattedData;
              	};

               $scope.formatModulePartsForTransfer = function(){
            	   var formattedData = ""

                       if($scope.selectedModuleParts != null ){
						for(var i = 0; i < $scope.selectedModuleParts.length-1;++i){

							if($scope.selectedModuleParts[i] != undefined){
								formattedData += $scope.selectedModuleParts[i].replace(";;;",";")+" ;;;";
							}
						}

						if($scope.selectedLecturers[$scope.selectedModuleParts.length-1] != undefined){
						formattedData += $scope.selectedModuleParts[$scope.selectedModuleParts.length-1]+" ";
						}
                   } 
					return formattedData;
                   }
               $scope.formatLecturersForTransfer = function(){
            	   var formattedData = ""

                   if($scope.selectedLecturers != null){
						for(var i = 0; i < $scope.selectedLecturers.length-1;++i){
							if($scope.selectedLecturers[i] != undefined){
								formattedData += $scope.selectedLecturers[i].id+" ;;;";
							}
						}					 
						if($scope.selectedLecturers[$scope.selectedLecturers.length-1] != undefined){
							formattedData += $scope.selectedLecturers[$scope.selectedLecturers.length-1].id+" ";
						}
                   } 
				return formattedData;
              }
//                $scope.addRoomAndTimes = function(){
// 				if($scope.roomsAndTimes == null){
// 							$scope.roomsAndTimes = [];
// 					}
//                    if(($scope.dayofweek == null ||$scope.dayofweek.length==0 )&& 
//                 		   ($scope.begintime == null ||$scope.begintime.length==0) &&
//                 		   ($scope.endtime == null ||$scope.endtime.length==0) &&
//                 		   ($scope.roomlabel == null ||$scope.roomlabel.length==0) &&
//                 		   ($scope.roomcapacity == null ||$scope.roomcapacity.length==0) &&
//                 		   ($scope.roomcomments == null ||$scope.roomcomments.length==0)  ){
//                        return;
//                    }
//                    var nextId = $scope.nextRoomId;
//                    $scope.updateRoomId();
 
//                    var roomAndTimes = new RoomAndTimes(nextId, $scope.dayofweek, $scope.begintime,$scope.endtime,$scope.roomlabel,$scope.roomcapacity,$scope.roomcomments);
// //     				alert(nextId);
// 					$scope.roomsAndTimes.push(roomAndTimes);
// 					$scope.initRoomAndTimeModels();
// 					$scope.hideRoomtable();
//                };

//                $scope.deleteRoomsAndTimes = function(id){
//                    var tmp = [];
//                    for(var i = 0; i < $scope.roomsAndTimes.length;++i){
//                        if(!angular.equals($scope.roomsAndTimes[i].getId(), id)){
//                            tmp.push($scope.roomsAndTimes[i]);
//                        }
//                    }
//                    if(tmp.length == 0){
//                        $scope.roomtableIsVisible = true;
//                   }
//                    //alert(tmp + " " +tmp.length +" "+$scope.roomtableIsVisible)
//                    $scope.roomsAndTimes = tmp;

//                                   };

//                $scope.initIsRoomtableVisible=function(){
// 					$scope.roomtableIsVisible = false;
//                }

//                 $scope.showRoomtable = function(){
//                 	$scope.roomtableIsVisible = true;
//                 }
//                 $scope.hideRoomtable = function(){
//                 	$scope.roomtableIsVisible = false;
//                 }

//                $scope.canShowRoomtable = function(){

//                    var canShow = ( !($scope.coursedescription == undefined || $scope.coursedescription == '' || $scope.coursedescription.trim().length == 0) 
//                            || !(  $scope.vvznr == undefined || $scope.vvznr == '' || $scope.vvznr.trim().length == 0 ));
// //                    alert(canShow)
//             	   return canShow;
  
//                    }

               
            });

       

    </script>


</head>

<body>
	<div class="container" ng-controller="CourseCtrl"
		ng-init="updateRoomId();getModuleDetails(getModuleId());getCourseTypes();getEmployees();getNumbers();initLecturers();getDayAbbreviations();initSelectedModuleParts();initSelectedPrimaryNr();initSelectedModulePartNr();initRoomAndTimeModels();initIsRoomtableVisible();getCourseId()">
		<form
			action="http://localhost:8081/GGLecturePlanner/rest/courses/addcourse"
			method="POST">
			<table>
				<tr>
					<td>LVA des Moduls</td>
					<td><p ng-repeat="pm in moduleDetails.primaryNrs">{{pm}}</p></td>
				</tr>
				<tr>
					<td><label for="coursetype">Art des Kurses</label></td>
					<td><select name="coursetype" ng-model="coursetype">
							<option ng-repeat="c in courseTypes | orderBy:'abbreviation'"
								value="{{c.abbreviation}}">{{c.abbreviation}}: {{c.description}}</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="coursedescription">Kursbeschreibung
							(E.g. Grundzüge Fernerkundung)</label></td>
					<td><input name="coursedescription" ng-model="coursedescription"/></td>
				</tr>
				<tr>
					<td><label for="vvznr" >VVZ Nr.</label></td>
					<td><input name="vvznr" ng-model="vvznr"/></td>
				</tr>
				<tr>
					<td><label>Modulteil </label></td>
					<td><select name="primarynr" ng-model="selectedPrimaryNr"
						ng-change="updateSelectedPrimaryNr();addModulePart();">
							<option ng-repeat="pm in moduleDetails.primaryNrs" value="{{pm}}">{{pm}}</option>
					</select> <select name="modulpart" ng-model="selectedModulePartNr"
						ng-change="addModulePart()">
							<option ng-repeat="n in modulePartNrs" value="{{n}}">{{n}}</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><div ng-repeat="m in selectedModuleParts">
							{{m}} <a ng-click="deleteModulePart(m)">delete</a>
						</div></td>
				</tr>

				<tr>
					<td><label for="nrofgroups">Anzahl Gruppen</label></td>
					<td><input type="number" ng-model="nrofgroups" name="nrofgroups" /></td>
				</tr>
				<tr>
					<td><label for="nrofstudentsexpectedpergroup">Anzahl
							Studenten erwartet pro Gruppe</label></td>
					<td><input type="Number" ng-model="nrofstudentsexpectedpergroup" name="nrofstudentsexpectedpergroup" /></td>
				</tr>
				<tr>
					<td><label for="ismaxnrofstudentsexpectedpergroup">Maximale
							Anzahl Studenten pro Gruppe?</label></td>
					<td>
						<fieldset  >
							<input type="radio" id="yes"
								ng-model="ismaxnrofstudentsexpectedpergroup" name="ismaxnrofstudentsexpectedpergroup" value="true"><label
								for="yes"> Ja</label><br> <input type="radio" id="no"
								ng-model="ismaxnrofstudentsexpectedpergroup" name="ismaxnrofstudentsexpectedpergroup" value="false" ><label for="no"> Nein</label><br>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td><label for="lecturers">Dozierende</label></td>
					<td><select name="lecturers" ng-model="selectedLecturer"
						ng-change="addLecturer()">
							<option ng-repeat="e in employees| orderBy:'lastName'"
								value="{{e.id}}">{{e.firstName}} {{e.lastName}}</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><div
							ng-repeat="l in selectedLecturers | orderBy:'lastName'">
							{{l.firstName}} {{l.lastName}} <a ng-click="deleteLecturer(l.id)">delete</a>
						</div></td>
				</tr>
				<tr>
					<td><label for="swstotpergroup">SWS total pro Gruppe</label></td>
					<td><input type="number" ng-model="swstotpergroup" name="swstotpergroup" /></td>
				</tr>
				<tr>
					<td><label for="begindate">Beginn-Datum</label></td>
					<td><input ng-model="begintime" name="begindate" /></td>
				</tr>
				<tr>
					<td><label for="enddate">End-Datum</label></td>
					<td><input ng-model="enddate" name="enddate" /></td>
				</tr>
				<tr>
					<td><label for="rythm">Verteilung über Semester /
							Verantsaltungs-Rhythmus</label></td>
					<td><input ng-model="rythm" name="rythm" /></td>
				</tr>
				<tr>
					<td><label for="comments">Kommentare zum Modul:</label></td>
					<td><textarea ng-model="comments" name="comments" cols=40 rows=6></textarea></td>
				</tr>
			</table> 
			<div   ng-show="canShowRoomtable()&&!roomtableIsVisible">
				<h1>
					<a ng-click="showRoomtable()">(+) Add rooms and times</a>
				</h1>
			</div>
			<table name="roomtable" 
				ng-show="roomtableIsVisible">
				<tr>
					<th colspan="2">Zeiten und Räume</th>
				</tr>
				<tr>
					<td><label for="dayofweek">Wochentag</label></td>
					<td><select name="dayofweek" ng-model="dayofweek">
							<option ng-repeat="day in dayAbbreviations" value="{{day}}">{{day}}</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="begintime">Startzeit</label></td>
					<td><input type="time" name="begintime" ng-model="begintime" /></td>
				</tr>
				<tr>
					<td><label for="endtime">End-Zeit</label></td>
					<td><input type="time" name="endtime" ng-model="endtime" /></td>
				</tr>
				<tr>
					<td><label for="roomlabel">Gewünschter Hörsaal</label></td>
					<td><input name="roomlabel" ng-model="roomlabel" /></td>
				</tr>
				<tr>
					<td><label for="roomcapacity">Kapazität des
							gewünschten Raums</label></td>
					<td><input name="roomcapacity" type="number" ng-model="roomcapacity" /></td>
				</tr>
				<tr>
					<td><label for="roomcomments">Kommentare zum Raum oder
							zu Zeiten:</label></td>
					<td><textarea name="roomcomments" cols=40 rows=6
							ng-model="roomcomments"></textarea></td>
				</tr>
				<tr>
					<td>
					<td><a name="addroomandtimes" ng-click="addRoomAndTimes()">Raum
							und Zeiten hinzufügen</a></td>
				</tr>
				<table ng-show="canShowRoomtable()">
					<tr ng-repeat="r in roomsAndTimes">
						<td>{{r.getDayOfWeek()}}</td>
						<td>{{r.getBeginTime()}}</td>
						<td>{{r.getEndTime()}}</td>
						<td>{{r.getRoomLabel()}}</td>
						<td>{{r.getRoomCapacity()}}</td>
						<td>{{r.getRoomComments()}}</td>
						<td><a ng-click="deleteRoomsAndTimes(r.getId())">delete</a></td>
					</tr>
				</table>
			</table>

			<input type="hidden" name="moduleid" value="{{getModuleId()}}">
			<input type="hidden" name="courseid" value="{{courseid}}">
			<input type="hidden" name="roomsandtimesdata"
				value="{{formatRoomsAndTimesForTransfer()}}"> <input
				type="hidden" name="modulepartsdata"
				value="{{formatModulePartsForTransfer()}}"> <input
				type="hidden" name="lecturersdata"
				value="{{formatLecturersForTransfer()}}">
			<table>
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
