
<!doctype html>
<html ng-app="coursehandler">
<head>
<title></title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.2.24/angular-sanitize.min.js"></script>
<script type="text/javascript">


		
		angular.module('coursehandler', [])
		 
		
		.controller('courseCtrl', function ($scope, $http) {
		
			$scope.getModuleId = function() { 
      			$scope.moduleId =  window.location.search.substring(1).split("&")[0].split("=")[1]; 
            } 
		    var rest = 'http://localhost:8081/GGLecturePlanner/rest/';  
		    $scope.getCourseDetails = function () {
		        return $http.get(rest+'courses/coursedetails/'+$scope.moduleId).
		         success(function (data) {
		             $scope.courses = data; 
		         });
		    };  
		    $scope.getModuleDetails = function () {
		        return $http.get(rest+'modules/moduledetails/'+$scope.moduleId).
		         success(function (data) {
		             $scope.moduleDetails = data; 
		         });
		    };  
		    $scope.deleteCourse = function(moduleId, courseId) {
		    	return $http.delete(rest+'courses/deletecourse/'+moduleId +'/'+courseId).
		         success(function (data) {
		        	 window.location.reload();
		         })
			};

		    
             
		});

 
    </script>


</head>

<body>
	<div class="container" ng-controller="courseCtrl"
		ng-init="getModuleId();getCourseDetails();getModuleDetails()">
		<div class="title">{{moduleDetails.primaryNrs[0]}}:
			Lernveranstaltungen</div>
		<div>
			<a href="addCourse.html?moduleid={{moduleId}}">(+) LVA hinzufügen</a>
		</div>
		<table>
			<tr>
				<th>Kursbeschreibung</th>
				<th>VVZ Nr</th>
				<th>Modulteil</th>
				<th># Gruppen</th>
				<th># Studenten erwartet pro Gruppe (max?)</th>
				<th>SWS total pro Gruppe</th>
				<th>Dozenten</th>
				<th># Doz.</th>
				<th>SWS/Doz.</th>
				<th>Beginn-Datum</th>
				<th>End-Datum</th>
				<th>Verteilung über Semester / Veranstaltungs-rhythmus</th>
				<th>Kommentare</th>
				<td>
					<table>
						<tr>
							<th>Wochentag</th>
							<th>Zeiten</th>
							<th>Gewünschter Hörsaal</th>
							<th>Kapazität des gew. Raumes</th>
							<th>Kommentare</th>
						</tr>
					</table>
				</td>
			</tr>
			<tr ng-repeat="course in courses">
				<td>{{course.courseDescription}}</td>
				<td>{{course.vvzNr}}</td>
				<td><label ng-repeat="mp in course.moduleParts">{{mp}}</label></td>
				<td>{{course.nrOfGroups}}</td>
				<td>{{course.nrOfStudentsExpectedperGroup}} <label
					ng-show="{{course.maxNrStudentsExpectedPerGroup}}">(max)</label></td>
				<td>{{course.swsTotalPerGroup}}</td>
				<td><p ng-repeat="e in course.lecturers">{{e.firstName}}
						{{e.lastName}}</p></td>

				<td>{{course.lecturers.length}}</td>
				<td>{{course.swsTotalPerGroup/course.lecturers.length | number:
					2}}</td>
				<td>{{course.startDate}}</td>
				<td>{{course.endDate}}</td>
				<td>{{course.rythm}}</td>
				<td>{{course.comments}}</td>
				<td>
					<table>
						<tr ng-repeat="t in course.courseTimesAndRooms">
							<td>{{t.dayOfWeek}}</td>
							<td>{{t.times.startTime}} - {{t.times.endTime}}</td>
							<td>{{t.roomLabel}}</td>
							<td>{{t.roomCapacity}}</td>
							<td>{{t.comments}}</td>
						</tr>
					</table>
				</td>
				<td><a href="addCourse.html?moduleid={{moduleId}}&courseid={{course.id}}">bearbeiten</a></td>
				<td><a ng-click="deleteCourse(moduleId, course.id)">löschen</a></td>
			</tr>
		</table>
	</div>
</body>
</html>