<!DOCTYPE html>
<html ng-app="addmodulehandler">
<head>
<title></title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.2.24/angular-sanitize.min.js"></script>
<script type="text/javascript">


        angular.module('addmodulehandler', [])

            .controller('ModuleCtrl', function ($scope, $http) {
                var rest = 'http://localhost:8081/GGLecturePlanner/rest/';

                $scope.getPlanId = function($scope) { 
          			return window.location.search.substring(1).split("&")[0].split("=")[1]; 
                };
                
                $scope.getModuleDetails = function (moduleId) {
					if(typeof moduleId !== "undefined") {
                    
	                    $http.get(rest+'modules/moduledetails/'+moduleId).
		                     success(function (data) {
		                         $scope.moduleDetails = data; 
		                         $scope.modulePrimaryNrs = data.primaryNrs;
		                         $scope.semesternr = data.semesterNr;
		                         $scope.assessmenttype = data.assessmentType.abbreviation;
		                         $scope.department = data.department.deptName;  
		                         $scope.assessmentdate = data.assessmentDate;
		                         $scope.responsibleemployee = data.responsibleEmployee.id;  
		                         $scope.disciplines = data.disciplines;
		                         $scope.moduletypes = data.moduleTypes;
// 		                         alert($scope.responsibleemployee);
		                         $scope.comments = data.comments;
		                     });
					}
                }; 
                
                $scope.getModuleId = function() {
                	var query = window.location.search.substring(1).split("&")[1];
                	if(typeof query !== "undefined") {
                		var queryParts = query.split("=");
                		if((typeof queryParts !== "undefined") && queryParts.length == 2){
                			if(queryParts[0] === "moduleid" && (typeof queryParts[1] !== undefined) && !isNaN(queryParts[1])) {
								$scope.moduleId = queryParts[1];
								$scope.getModuleDetails($scope.moduleId);
								return;
                    		}
                    	}
                	} 
                	$scope.moduleId = undefined;
                }
                $scope.getAssessmentTypes = function () {
                    return $http.get(rest+'staticresources/assessmenttypes').
                     success(function (data) {
                         $scope.allassessmenttypes = data; 
                     });
                }; 

                $scope.contains = function contains(a, obj) {
                    for (var i = 0; i < a.length; i++) {
                        if (a[i] === obj) {
                            return true;
                        }
                    }
                    return false;
                }
                $scope.addModulePN = function(){
                	if(typeof $scope.modulePrimaryNrs === "undefined"){
						$scope.modulePrimaryNrs = [];
					}
                    if(typeof $scope.modulePrimaryNr !== "undefined" && $scope.modulePrimaryNr.length > 0 && !$scope.contains($scope.modulePrimaryNrs, $scope.modulePrimaryNr)) { 
						$scope.modulePrimaryNrs.push($scope.modulePrimaryNr);
						$scope.modulePrimaryNr = "";
                    }
                };

                $scope.deleteModulePN = function(pN) {
                  	
					if(typeof $scope.modulePrimaryNrs !== "undefined"){
						if(!$scope.contains($scope.modulePrimaryNrs, pN)){
	                      	return;
	                    }
						var tmp = []; 
						for(var i = 0; i < $scope.modulePrimaryNrs.length; ++i) {
 							if($scope.modulePrimaryNrs[i] !== pN){
								tmp.push($scope.modulePrimaryNrs[i]);
							}
						}
						$scope.modulePrimaryNrs = tmp;
					}
                };
                
                $scope.getModuleTypes = function () {
                    return $http.get(rest+'staticresources/moduletypes').
                     success(function (data) {
                         $scope.allmoduletypes = data; 
                     });
                }; 

                $scope.getDisciplines = function () {
                    return $http.get(rest+'staticresources/disciplines').
                     success(function (data) {
                         $scope.alldisciplines = data; 
                     });
                }; 
                $scope.getDepartments = function () {
                    return $http.get(rest+'staticresources/departments').
                     success(function (data) {
                         $scope.alldepartments = data; 
                     });
                }; 
                $scope.getEmployees = function () {
                    return $http.get(rest+'employees/allemployees').
                     success(function (data) {
                         $scope.allemployees = data; 
                     });
                }; 
                $scope.getPlanDetails = function () {
                    return $http.get(rest+'plans/plandetails/'+$scope.getPlanId()).
                     success(function (data) {
                         $scope.planDetails = data; 
                         $scope.plantitle = data.semester + " " +data.year;
                     });
                }; 

                

                $scope.init = function(){
                	$scope.modulePrimaryNrs = [];
                	$scope.modulePrimaryNr = "";
                  }
                $scope.formatModulePrimaryNrsForTranser = function(){
					var formattedData = "";
					if(typeof $scope.modulePrimaryNrs !== "undefined"){ 
						for(var i = 0; i < $scope.modulePrimaryNrs.length-1; ++i){
							formattedData += $scope.modulePrimaryNrs[i].trim().replace(";;;",";") + ";;;";
						}
						if($scope.modulePrimaryNrs.length > 0){
							formattedData += $scope.modulePrimaryNrs[i];
						}
					}
					return formattedData;
                }


                $scope.containsType = function(typesWithAbbreviation, valWithAbbreviation){
          		 	if((typeof typesWithAbbreviation === "undefined") || (typeof valWithAbbreviation ==="undefined")) {
						return false;
              		 	}
					for(var i = 0; i < typesWithAbbreviation.length;++i){
						if(typesWithAbbreviation[i].abbreviation === valWithAbbreviation.abbreviation) {
							return true;
						}
					}
					return false;
                 };
            });



    </script>


</head>

<body>
	<div class="container" ng-controller="ModuleCtrl"
		ng-init="init();getPlanDetails();getAssessmentTypes();getEmployees();getModuleTypes();getDepartments();getDisciplines();getModuleId()">
		<form
			action="http://localhost:8081/GGLecturePlanner/rest/modules/addmodule"
			method="POST">
			<table>
				<tr>
					<td>Plan</td>
					<td><label ng-model="plantitle">{{plantitle}}</label></td>
				</tr>
				<tr>
					<td><label for="primarynr">Modulbezeichnung (z.B. GEO
							110)</label></td>
					<td><input name="primarynr" ng-model="modulePrimaryNr" />&nbsp;<a
						ng-click="addModulePN()">hinzufügen</a></td>
				</tr>
				<tr>
					<td></td>
					<td><p ng-repeat="pN in modulePrimaryNrs">
							<label>{{pN}}</label>&nbsp;<a ng-click="deleteModulePN(pN)">(x)
								löschen</a>
						</p></td>
				</tr>
				<tr>
					<td><label for="semesternr">Semester</label></td>
					<td><input name="semesternr" ng-model="semesternr" /></td>
				</tr>
				<tr>
					<td>Modultyp(en)</td>
					<td><label ng-repeat="mt in allmoduletypes"> <input
							type="checkbox" name="moduletypes" value="{{mt.abbreviation}}" ng-checked="containsType(moduletypes, mt)">{{mt.description}}<br />
					 
					</label>
					</td>
				</tr>
				<tr>
					<td>Disziplin(e)</td>
					<td><span ng-repeat="d in alldisciplines" > <input
							type="checkbox" name="disciplines" value="{{d.abbreviation}}" ng-checked="containsType(disciplines, d)">{{d.abbreviation}}<br />
					</span></td>
				</tr>
				<tr>
					<td><label for="department">Verantwortliche Abteilung</label></td>
					<td><select name="department" ng-model="department">
							<option ng-repeat="d in alldepartments" value="{{d.deptName}}">{{d.deptName}}:
								{{d.fieldOfExpertise}}</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="assessmenttype">Prüfungsart</label></td>
<!-- 					<td><select name="assessmenttype" -->
<!-- 						ng-options="a.abbreviation a.description for a in assessmenttypes track by a.abbreviation" -->
<!-- 						ng-model="assessmenttype"> -->
<!-- 					</select></td> -->

					<td><select name="assessmenttype" ng-model="assessmenttype">
							<option  ng-repeat="at in allassessmenttypes"
								value="{{at.abbreviation}}">{{at.description}}</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="assessmentdate">Prüfungszeitpunkt</label></td>
					<td><input ng-model="assessmentdate" name="assessmentdate" /></td>
				</tr>
				<tr>
					<td><label for="responsibleemployee">Modulverantwortlicher</label></td>
<!-- 					<td><select name="responsibleemployee" -->
<!-- 						ng-options="mv.lastName for mv in employees track by mv.id" -->
<!-- 						ng-model="responsibleemployee"></select> 					 -->
						<td><select ng-model="responsibleemployee" name="responsibleemployee">
													<option ng-repeat="mv in allemployees" value="{{mv.id}}">{{mv.firstName}}
														{{mv.lastName}}</option> 					</select>

					</td>
				</tr>
				<tr>
					<td><label for="comments">Kommentare (z.B. bezüglich
							Anstellung, etc.):</label></td>
					<td><textarea ng-model="comments" NAME="comments" COLS=40
							ROWS=6></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</table>
			<input type="hidden" name="planid" value="{{getPlanId()}}" /> <input
				type="hidden" name="moduleprimarynrs"
				value="{{formatModulePrimaryNrsForTranser()}}" />
				<input type="hidden" name="moduleid" value="{{moduleDetails.id}}" />
		</form>
	</div>
</body>
</html>
