
<!doctype html>
<html ng-app="planhandler">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="style.css" />

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.2.24/angular-sanitize.min.js"></script>
<script type="text/javascript">


        angular.module('planhandler', [])

            .controller('planCtrl', function ($scope, $http) {
                var rest = 'http://localhost:8081/GGLecturePlanner/rest/';  
                $scope.getAllPlans = function () {
                    return $http.get(rest+'plans/allplans').
                     success(function (data) {
                         $scope.plans = data; 
                     });
                };  

                $scope.deletePlan = function (planid) {
                    return $http.delete(rest+'plans/deleteplan/'+planid).
                    success(function (data) {
                    	window.location.reload();
                    });
                };  
            });



    </script>


</head>

<body>
	<div class="container" ng-controller="planCtrl" ng-init="getAllPlans()">
		<div class="title">Pläne</div>
		<div>
			<a href="addPlan.html">(+) Plan hinzufügen</a>
		</div>
		<table>
			<tr ng-repeat="plan in plans">
				<th>{{plan.semester}}&nbsp;{{plan.year}}</th>
				<td><a
					href="showModules.html?planid={{plan.id}}">Module
						anzeigen/ändern/hinzufügen</a></td>
				<td><a
					href="changePlan.html?planid={{plan.id}}">Plan
						bearbeiten</a></td>
				<td><a   ng-click="deletePlan(plan.id)">Plan löschen</a></td>
				<td><a
					href="printPlan.html?planid={{plan.id}}">Plan
						drucken</a></td>
				<td><a
					href="printPlan.html?planid={{plan.id}}">Plan
						kopieren</a></td>
			</tr>
		</table>
	</div>
</body>
</html>