
<div><a href="#/plans">zurück</a></div>
<div class="container"
	ng-init="getPlanDetails();getSemesterTypes();getYears()" ng-show="isAdmin()">
	<form name="form" ng-submit="addPlan()" role="form">
		<div class="form-group">
			<label for="semester">Semester</label> <select class="form-control" name="semester"
				ng-model="semester">
				<option ng-repeat="s in semestertypes" value="{{s.abbreviation}}">{{s.description}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="year">Jahr</label> <select class="form-control" name="year" ng-model="year">
				<option ng-repeat="y in years" value="{{y}}">{{y}}</option>
			</select>
		</div>
		<input type="hidden" ng-model="planid" value="{{planDetails.id}}" />
		<div class="form-actions">
			<button type="submit" class="btn btn-danger"
				ng-show="!isPlanIdDefined()">Plan hinzufügen</button>
			<button type="submit" class="btn btn-danger"
				ng-show="isPlanIdDefined()">Plan ändern</button>
		</div>
	</form>
</div>