<div ng-init="getAllPlans()">
	<h2>Pläne</h2>
	<div>
		<a href="#/plans/addplan">(+) Plan hinzufügen</a>
	</div>
 
	<!-- 	<div class="alert alert-info" ng-show="responseMessage.length > 0">{{responseMessage}}</div> -->
	<div class="table-responsive">
		<table class="table table-striped">
			<tr ng-repeat="plan in plans | orderBy:'year+semester'">
				<th>{{plan.semester}}&nbsp;{{plan.year}}</th>
							<td><a href="#/modules/planid/{{plan.id}}">Module
									anzeigen/ändern/hinzufügen</a></td>
				<td><a href="#/plans/changeplan/planid/{{plan.id}}">Plan
						bearbeiten</a></td>
				<td><a ng-click="deletePlan(plan.id)">Plan löschen</a></td>
				<!-- 			<td><a href="printPlan.html?planid={{plan.id}}">Plan drucken</a></td> -->
				<td><a ng-click="copyPlan(plan.id)">Plan kopieren</a></td>
			</tr>
		</table>
	</div>
</div>