<div>
	<a href="#/">zurück</a>
</div>
<h2>Passwort ändern</h2> 
<div ng-init="init()"> 
	<form name="form" ng-submit="changePassword()" role="form">
		<table>
			<tr class="form-group">
				<td>Altes Passwort:</td>
				<td><input type="password" ng-model="oldPw"
					class="form-control" /></td>
			</tr>
			<tr class="form-group">
				<td>Neues Passwort:</td>
				<td><input type="password" ng-model="newPw"
					class="form-control" /></td>
			</tr>
			<tr class="form-group">
				<td>Neues Passwort wiederholen:</td>
				<td><input type="password" ng-model="repeatNewPw"
					class="form-control" /></td>
			</tr>
			<tr class="form-actions">
				<td></td>
				<td><button type="submit"
						ng-disabled="form.$invalid || !repeatNewPw || !newPw || !oldPw"
						class="btn btn-danger">Passwort ändern</button></td>
			</tr>
		</table>
	</form>
	<div ng-show="!samePW" class="alert alert-danger">"Neues Passwort" stimmt nicht mit "Neues Passwort wiederholen" überein</div>
	<div ng-show="couldChangePassword && couldChangePasswordMessage" class="alert alert-success">{{couldChangePasswordMessage}}</div>
	<div ng-show="!couldChangePassword && couldNotChangePasswordMessage" class="alert alert-danger">{{couldNotChangePasswordMessage}}</div>
</div>

